<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "WoW Legion", root_path, id: "logo" %>
    <nav>
	  <ul class="nav navbar-nav navbar-right">
		<li><%= link_to "Calendário",    calendar_path %></li>
		<li><%= link_to "Fotos",    photos_path %></li>
		<li><%= link_to "Membros",    members_path %></li>
		<li><%= link_to "Logs",    logs_path %></li>
        <li><%= link_to "Sobre",    about_path %></li>
      </ul>
    </nav>
  </div>
</header>